
/*======================================
PANTALA DE ESCRITORIO GRANDE - LARGE (LG)
========================================*/
@media(min-width:1200px){

    .col-lg-12{width: 100%;}
    .col-lg-11{width:91.66666667%;}
    .col-lg-10{width:83.33333333%;}
    .col-lg-9{width:75%}
    .col-lg-8{width: 66.66666667%;}
    .col-lg-7{width: 58.33333333%;}
    .col-lg-6{width: 50%;}
    .col-lg-5{width: 41.66666667%;}
    .col-lg-4{width: 33.33333333%;}
    .col-lg-3{width: 25%;}
    .col-lg-2{width: 16.66666667% ;}
    .col-lg-1{width: 8.33333333%;}

    .nav-bar{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-bar-row{
        display: flex !important;
        margin-top: 25px !important;
    }
   

   .button-nav{
       background-color: none;
       border: 1px white solid;
       padding: 0.6em;
       margin-left: 77px;
       font-size: 14px;

   }

    .container-link-items{
        margin-right: 0%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .link-items{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 18px;
        padding: 0.2em;
    }
  
    .link-items li{
        cursor:default;
        text-decoration: none;
        margin-right: 86px;
        font-weight: 500;
    }

    .link-items li:hover{
        text-decoration: underline;

    }

    
    .main-section{
        margin-top: 169px ;
    }


    .main__container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%!important;
        margin-left: 77px;
        
       
    }

    .text__container h1{
        font-size: 48px;

    }

    .text__container p{
        font-size: 24px;
    }
    .img-box img{
        max-width: 737px;
        width: 100%;
    }


    .img__container__floating-box{
        position: absolute;
        bottom: -25%;
        right: 3%;
        box-shadow: 0px 2px 7px rgb(13,12,12);
        max-width: 367px;
        width: 100%;
        height: 189px;
    }

    .img__container__floating-box img{
        
        width: 50px;
        height: 50px;
        border-radius: 100%;
        
    }
    .img-div{
        width: 23%;
    }
    .name{
        font-size: 14px;
    }

    .img__container__floating-box p{
        font-size: 12px;
        font-weight: 500;
    }

    .designed-by{
        font-size: 24px;
        font-weight: 700;
        width: 80%;
        margin-top:10px
    }

    footer{
        margin-top:239px ;
        text-align: center;
        margin-bottom:24px
    }
}

/*======================================
PANTALA DE ESCRITORIO MEDIANA- MEDIANO (MD)
========================================*/
@media(max-width:1199px) and (min-width:992px){

    .col-md-12{width: 100%;}
    .col-md-11{width:91.66666667%;}
    .col-md-10{width:83.33333333%;}
    .col-md-9{width:75%}
    .col-md-8{width: 66.66666667%;}
    .col-md-7{width: 58.33333333%;}
    .col-md-6{width: 50%;}
    .col-md-5{width: 41.66666667%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-3{width: 25%;}
    .col-md-2{width: 16.66666667% ;}
    .col-md-1{width: 8.33333333%;}
}

/*======================================
PANTALA DE TABLET - SMALL (SM)
========================================*/
@media(max-width:991px) and (min-width:768px){

    .col-sm-12{width: 100%;}
    .col-sm-11{width:91.66666667%;}
    .col-sm-10{width:83.33333333%;}
    .col-sm-9{width:75%}
    .col-sm-8{width: 66.66666667%;}
    .col-sm-7{width: 58.33333333%;}
    .col-sm-6{width: 50%;}
    .col-sm-5{width: 41.66666667%;}
    .col-sm-4{width: 33.33333333%;}
    .col-sm-3{width: 25%;}
    .col-sm-2{width: 16.66666667% ;}
    .col-sm-1{width: 8.33333333%;}
}

/*======================================
PANTALA DE CELULAR - EXTRASMALL (xs)
========================================*/
@media(max-width:767px){

    .col-xs-12{width: 100%;}
    .col-xs-11{width:91.66666667%;}
    .col-xs-10{width:83.33333333%;}
    .col-xs-9{width:75%}
    .col-xs-8{width: 66.66666667%;}
    .col-xs-7{width: 58.33333333%;}
    .col-xs-6{width: 50%;}
    .col-xs-5{width: 41.66666667%;}
    .col-xs-4{width: 33.33333333%;}
    .col-xs-3{width: 25%;}
    .col-xs-2{width: 16.66666667% ;}
    .col-xs-1{width: 8.33333333%;}
}